---
const { m } = Astro.props;
const LANGUAGES = [
  { name: "English", code: "en", path: "/" },
  { name: "Español", code: "es", path: "/es/" }
];
---
<div class="relative ml-1 mr-1">
  <button
    id="lang-toggle-btn"
    class="appearance-none border-none flex hover:scale-125 transition"
    type="button"
  >
    <span class="sr-only">{m.elige_idioma}</span>
    <span id="lang-icon" class="size-5 transition-all">
      {m.current_language}
    </span>
  </button>

  <div
    id="langs-menu"
    class="absolute hidden scale-80 top-8 right-0 text-sm p-1 min-w-[8rem] rounded-md border border-gray-100 bg-white/90 dark:bg-gray-900/90 dark:border-gray-500/20 shadow-[0_3px_10px_rgb(0,0,0,0.2)] backdrop-blur-md"
  >
    <ul>
      {LANGUAGES.map((language) => (
        <li
          class="langs-menu-option px-2 py-1.5 cursor-pointer hover:bg-neutral-400/40 dark:hover:bg-gray-500/50 rounded-sm"
          data-lang={language.code}
          data-path={language.path}
        >
          {language.name}
        </li>
      ))}
    </ul>
  </div>
</div>

<style>
  #langs-menu.open {
    display: inline;
    animation: scale-up-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes scale-up-center {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>

<script is:inline>
  const langsMenu = document.getElementById("langs-menu");
  const langToggleBtn = document.getElementById("lang-toggle-btn");
  const langIcon = document.getElementById("lang-icon");

  const getLangPreference = () => {
    return localStorage.getItem("lang") ?? (window.location.pathname.startsWith("/es") ? "es" : "en");
  };

  const updateLang = () => {
    const langPreference = getLangPreference();
    langIcon.innerText = langPreference === "es" ? "🇪🇸" : "🇺🇸";
  };

  updateLang();

  document.addEventListener("click", () => langsMenu.classList.remove("open"));

  langToggleBtn.addEventListener("click", (e) => {
    e.stopPropagation();
    langsMenu.classList.toggle("open");
  });

  document.querySelectorAll(".langs-menu-option").forEach((element) => {
    element.addEventListener("click", (e) => {
      const selectedLang = e.target.getAttribute("data-lang");
      const path = e.target.getAttribute("data-path");
      localStorage.setItem("lang", selectedLang);
      updateLang();
      window.location.pathname = path;
    });
  });
</script>