---
import GitHub from "./icons/GitHub.astro"
import LinkButton from "./LinkButton.astro"
import FastAPI from "./icons/FastAPI.astro"
import Docker from "./icons/Docker.astro"
import AstroIcon from "./icons/Astro.astro"
import AWS from "./icons/AWS.astro"
import Postgres from "./icons/Postgres.astro"
import PandasIcon from "./icons/Pandas.astro"
import KubernetesIcon from "./icons/Kubernetes.astro"
import Cloudflare from "./icons/Cloudflare.astro"
import TypeScriptIcon from "./icons/TypeScript.astro"
const {m} = Astro.props
const TAGS = {
  FastAPI: {
    name: "FastAPI",
    class: "bg-[#088373] text-white",
    icon: FastAPI,
  },
  Docker: {
    name: "Docker",
    class: "bg-[#0f4c75] text-white",
    icon: Docker,
  },
  AstroPreact: {
    name: "Astro + Preact",
    class: "bg-[#4338CA] text-white",
    icon: AstroIcon,
  },
  AWS: {
    name: "AWS",
    class: "bg-black text-white",
    icon: AWS,
  },
  Postgres: {
    name: "PostgreSQL",
    class: "bg-[#0B7285] text-white",
    icon: Postgres,
  },
  Pandas: {
    name: "Pandas",
    class: "bg-[#6B21A8] text-white",
    icon: PandasIcon,
  },
  Kubernetes: {
    name: "Kubernetes",
    class: "bg-[#1D4ED8] text-white",
    icon: KubernetesIcon,
  },
  Cloudflare: {
    name: "Cloudflare",
    class: "bg-black text-white",
    icon: Cloudflare,
  },
  TypeScript: {
    name: "TypeScript",
    class: "bg-black text-white",
    icon: TypeScriptIcon,
  }
}
const PROJECTS = [
  {
    id: 'oposita_simulator',
    title: "OpositaTCAE Simulator",
    description: m.oposita_simulator,
    image: "/projects/opositatcae.png",
    github: "https://github.com/Danimarqz/inscripcion-moodle",
    tags: [TAGS.AstroPreact, TAGS.FastAPI, TAGS.Docker, TAGS.Postgres, TAGS.AWS]
  },
  {
    id: 'quiz_analysis',
    title: "Quiz Analysis Engine",
    description: m.quiz_analysis,
    image: "/projects/quizanalysis.png",
    github: "https://consultoria.danimarqz.dev/blog/",
    tags: [TAGS.FastAPI, TAGS.Pandas, TAGS.Postgres, TAGS.Docker]
  },
  {
    id: 'quizreport',
    title: "Quizreport",
    description: m.quizreport,
    image: "/projects/quizreport.png",
    github: "https://consultoria.danimarqz.dev/blog/",
    tags: [TAGS.Pandas, TAGS.FastAPI, TAGS.Kubernetes]
  },
  {
    id: 'quiz_percentile',
    title: "Quiz Percentile",
    description: m.quiz_percentile,
    image: "/projects/quizpercentile.png",
    github: "https://consultoria.danimarqz.dev/blog/",
    tags: [TAGS.Pandas, TAGS.Postgres]
  },
  {
    id: 'ecommerce',
    title: "E-commerce",
    description: m.ecommerce,
    image: "/projects/api.png",
    github: "https://github.com/Danimarqz/animalhada_BE",
    tags: [TAGS.TypeScript, TAGS.Cloudflare]
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ id, image, title, description, tags, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img alt="Imagen proyecto" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="eager" src={image} />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2 gap-y-2 flex-wrap">
              {tags && tags.map((tag) => (
                <li>
                  <span class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400" data-i18n={`${id}`}>
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>

